In [1]:
# Dependencies
import pandas as pd

# Study data files
imdb = "imdb_new.csv"

# Read the csv
imdb_data = pd.read_csv(imdb)

In [2]:
# Create a data frame out of the csv data
imdb_data_df = pd.DataFrame(imdb_data)

In [3]:
# Show the new data frame
imdb_data

,title,year_released,genre,duration,country,language,description,avg_vote,votes
0,Cleopatra,1912,"Drama, History",100,USA,English,The fabled queen of Egypt's affair with Roman ...,5.2,420
1,"From the Manger to the Cross; or, Jesus of Naz...",1912,"Biography, Drama",60,USA,English,"An account of the life of Jesus Christ, based ...",5.7,438
2,"Home, Sweet Home",1914,Drama,55,USA,English,John Howard Payne at his most miserable point ...,5.7,170
3,Traffic in Souls,1913,"Crime, Drama",88,USA,English,"A woman, with the aid of her police officer sw...",6.1,527
4,The Avenging Conscience: or 'Thou Shalt Not Kill',1914,"Crime, Drama, Horror",78,USA,English,Prevented from dating his sweetheart by his un...,6.5,1050
...,...,...,...,...,...,...,...,...,...
20262,Playing with Fire,2019,"Comedy, Family",96,USA,English,A crew of rugged firefighters meet their match...,4.5,1067
20263,A Christmas Switch,2018,"Comedy, Drama, Family",90,USA,English,Two women magically switch bodies during the h...,6.3,213
20264,Malibu Rescue,2019,"Action, Adventure, Comedy",68,USA,English,Aspiring junior lifeguards compete against sno...,4.6,569
20265,El Camino: A Breaking Bad Movie,2019,"Action, Drama",122,USA,English,"A sequel, of sorts, to Breaking Bad following ...",7.5,129031
20266,Penguin League,2019,Animation,74,USA,English,"Intergalactic penguin pilots, Flip and Zooey, ...",4.1,100

In [5]:
# Show clean df
imdb_data_df.head()

,title,year_released,genre,duration,country,language,description,avg_vote,votes
0,Cleopatra,1912,"Drama, History",100,USA,English,The fabled queen of Egypt's affair with Roman ...,5.2,420
1,"From the Manger to the Cross; or, Jesus of Naz...",1912,"Biography, Drama",60,USA,English,"An account of the life of Jesus Christ, based ...",5.7,438
2,"Home, Sweet Home",1914,Drama,55,USA,English,John Howard Payne at his most miserable point ...,5.7,170
3,Traffic in Souls,1913,"Crime, Drama",88,USA,English,"A woman, with the aid of her police officer sw...",6.1,527
4,The Avenging Conscience: or 'Thou Shalt Not Kill',1914,"Crime, Drama, Horror",78,USA,English,Prevented from dating his sweetheart by his un...,6.5,1050

In [6]:
# Drop any 
imdb_data_df = imdb_data_df.dropna()

In [7]:
# Show new table
imdb_data_df.head()

,title,year_released,genre,duration,country,language,description,avg_vote,votes
0,Cleopatra,1912,"Drama, History",100,USA,English,The fabled queen of Egypt's affair with Roman ...,5.2,420
1,"From the Manger to the Cross; or, Jesus of Naz...",1912,"Biography, Drama",60,USA,English,"An account of the life of Jesus Christ, based ...",5.7,438
2,"Home, Sweet Home",1914,Drama,55,USA,English,John Howard Payne at his most miserable point ...,5.7,170
3,Traffic in Souls,1913,"Crime, Drama",88,USA,English,"A woman, with the aid of her police officer sw...",6.1,527
4,The Avenging Conscience: or 'Thou Shalt Not Kill',1914,"Crime, Drama, Horror",78,USA,English,Prevented from dating his sweetheart by his un...,6.5,1050

In [8]:
# Export the CSV
imdb_data_df.to_csv('IMDB.csv')

In [9]:
# Study data files
streaming = "streaming_new.csv"

# Read the csv
streaming_data = pd.read_csv(streaming)

In [10]:
# Create a data frame out of the csv data
streaming_data_df = pd.DataFrame(streaming_data)

In [11]:
# Show the new data frame
streaming_data

,ID,Title,year,Age,IMDb_rating,Rotten_Tomatoes,Netflix,Hulu,Prime_Video,Disney_Plus,Directors,Country,Language,Runtime
0,2,The Matrix,1999,18+,8.7,0.87,1,0,0,0,"Lana Wachowski,Lilly Wachowski",United States,English,136.0
1,3,Avengers: Infinity War,2018,13+,8.5,0.84,1,0,0,0,"Anthony Russo,Joe Russo",United States,English,149.0
2,4,Back to the Future,1985,7+,8.5,0.96,1,0,0,0,Robert Zemeckis,United States,English,116.0
3,20,Her,2013,18+,8.0,0.95,1,0,0,0,Spike Jonze,United States,English,126.0
4,24,The Perks of Being a Wallflower,2012,13+,8.0,0.86,1,0,0,0,Stephen Chbosky,United States,English,103.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7824,16740,The Ghosts of Buxley Hall,1980,NaN,6.2,NaN,0,0,0,1,Bruce Bilson,United States,English,120.0
7825,16741,The Poof Point,2001,7+,4.7,NaN,0,0,0,1,Neal Israel,United States,English,90.0
7826,16742,Sharks of Lost Island,2013,NaN,5.7,NaN,0,0,0,1,Neil Gelinas,United States,English,NaN
7827,16743,Man Among Cheetahs,2017,NaN,6.6,NaN,0,0,0,1,Richard Slater-Jones,United States,English,NaN
7828,16744,In Beaver Valley,1950,NaN,NaN,NaN,0,0,0,1,James Algar,United States,English,32.0

In [12]:
# Columns already dropped
# Drop any NaN
streaming_data_df = streaming_data_df.dropna()

In [13]:
# Show new table
streaming_data_df.head()

,ID,Title,year,Age,IMDb_rating,Rotten_Tomatoes,Netflix,Hulu,Prime_Video,Disney_Plus,Directors,Country,Language,Runtime
0,2,The Matrix,1999,18+,8.7,0.87,1,0,0,0,"Lana Wachowski,Lilly Wachowski",United States,English,136.0
1,3,Avengers: Infinity War,2018,13+,8.5,0.84,1,0,0,0,"Anthony Russo,Joe Russo",United States,English,149.0
2,4,Back to the Future,1985,7+,8.5,0.96,1,0,0,0,Robert Zemeckis,United States,English,116.0
3,20,Her,2013,18+,8.0,0.95,1,0,0,0,Spike Jonze,United States,English,126.0
4,24,The Perks of Being a Wallflower,2012,13+,8.0,0.86,1,0,0,0,Stephen Chbosky,United States,English,103.0

In [14]:
# Export the CSV
streaming_data_df.to_csv('streaming.csv')